body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
#cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ; 
    position: relative; 
    img{
        height: 300px;
        width: 300px;
    }
}
#text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: white;
}